In [1]:
import pandas as pd
import numpy as np

In [4]:
# ML packages/estimators
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
# Transformers
from sklearn.preprocessing import StandardScaler, MinMaxScaler

#Utils
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline

In [6]:
df = pd.read_csv("C:/Users/USER/Desktop/adult.csv")

In [7]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [9]:
df.shape

(32561, 15)

In [10]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [11]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [12]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [14]:
df["workclass"].unique()

array(['?', 'Private', 'State-gov', 'Federal-gov', 'Self-emp-not-inc',
       'Self-emp-inc', 'Local-gov', 'Without-pay', 'Never-worked'],
      dtype=object)

In [15]:
work_dict = {'?':0, 'Private':1, 'State-gov':2, 'Federal-gov':3, 'Self-emp-not-inc':4,
       'Self-emp-inc':5, 'Local-gov':6, 'Without-pay':7, 'Never-worked':8}

In [16]:
work_dict

{'?': 0,
 'Private': 1,
 'State-gov': 2,
 'Federal-gov': 3,
 'Self-emp-not-inc': 4,
 'Self-emp-inc': 5,
 'Local-gov': 6,
 'Without-pay': 7,
 'Never-worked': 8}

In [17]:
df["workclass"].map(work_dict)

0        0
1        1
2        0
3        1
4        1
        ..
32556    1
32557    1
32558    1
32559    1
32560    1
Name: workclass, Length: 32561, dtype: int64